body {
    background: #000000;
    margin: 0;
    overflow: hidden;
}

pre.prettyprint {
    padding: 2px !important;
    border: none !important;
    height: 100vh;
    margin: 0 !important;
}

#texto {
    background: #000000;
    border: none;
    color: #000000;
    position: absolute;
    right: 100px;
    top:0px;
    width:30px;
    overflow: none;
}